.buttonLink--tab-pacifika {
  background-size: auto 20px;
  width: 250px;
  background-image: url(https://www.pacifika.com.co/medias/sys_master/images/images/hb9/h93/9198112374814/Logo-PCFK-Black.png);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;

  background-color: white;
  height: 60px;
  border-radius: 0px;
  border-width: 0px 0.5px 0.5px 0px;
  border-color: #ddd;
  font-size: 40px;
}

.buttonLink--tab-carmel {
  background-image: url("https://www.pacifika.com.co/medias/sys_master/images/images/hfc/h74/9198111981598/Logo-Carmel-Black.png");
  background-size: auto 20px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;

  background-color: white;
  height: 60px;
  border-radius: 0px;
  border-width: 0px 0.5px 0.5px 0px;
  border-color: #ddd;
  font-size: 40px;
}

.buttonLink--tab-pacifika:hover {
  background-size: auto 20px;

  background-image: url(https://www.pacifika.com.co/medias/sys_master/images/images/h48/h3d/9198112636958/Logo-PCFK-White.png);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;

  background-color: black;
  height: 60px;
  border-radius: 0px;
  border-width: 0px 0.5px 0.5px 0px;
  border-color: #ddd;
  font-size: 40px;
}

.buttonLink--tab-carmel:hover {
  background-image: url(https://www.pacifika.com.co/medias/sys_master/images/images/h5e/h7c/9198112178206/Logo-Carmel-White.png);
  background-size: auto 20px;

  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;

  background-color: black;
  height: 60px;
  border-radius: 0px;
  border-width: 0px 0.5px 0.5px 0px;
  border-color: #ddd;
  font-size: 40px;
}
